h1 {
    
    color: blue;
}

.header {
    background-color: lightgrey;
    /* background-image: url('https://media.sproutsocial.com/uploads/2018/04/Facebook-Cover-Photo-Size.png'); */
    background-size: cover;
    font-size: 60px;
    padding: 1px;
    text-align: center;
}

.articleContent {
    height: 300px;
    width: 700px;
}

.articleDiv {
    float: left;
}

.articlePostButton {
    text-align: center;
}

.articleTitle {
    width: 700px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.articlesDiv {
    float: left;
}

.button {
    text-align: center;
}

.commentDiv {
    text-align: center;
}

.commentTextBox {
    width: 700px;
    height: 100px;
}

.editAndDeleteButton {
    /* float: ; */
}

.Register {
    text-align: center;
}



.Register {
   text-align: center;
}


.myPageRightDiv {
    float: left;
.MyPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.navDiv {
    float: left;
    height: 100%;
    width: 25%;
}