.add-comment-image {
    margin-right: 20px;
    margin-bottom: 10px;

}

.add-comment-button {
    margin-left: 20px;
}

.ArtCardTitle {
    text-align: left;
    margin-top: 0px;
    margin-left: 5px;

}

.ArtCardDate {
    text-align: left;
    margin-left: 5px;
}

.Article, .EditArticle, .MyPage, .Nav, .articleDiv, .Home, .Register, .SignIn, .Loading {
    grid-area: 2 / 2 / 3 / 3;
}

.ArticleCard {
    display: grid;
    grid-template-columns: .3fr 1fr;
    border-top: 1px solid black;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.ArticleCardImg > img {
    max-width: 150px;
    max-height: 150px;
}
.articleImg {
    max-height: 250px;
}

.articleTextArea {
    max-width: 177px;
    max-height: 400px;
}

.App {
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    grid-template-rows: repeat(2, .2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.blogs {
        display: grid;
        grid-template-columns: .3fr 1fr;
        border-top: 1px solid black;
        padding: 10px 0 10px 0;
        cursor: pointer;
}

body {
    background-color: #ececec;
    color: #385170;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.button {
    text-align: center;
}

.commentDiv {
    text-align: center;  
}


.confirmPasswordContainer{
    padding: 10px 16px 9px;
}

.comment-reply-image {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.emailContainer{
    padding: 10px 16px 9px;
}

h2 {
    color: #385170;
}

.header {
    background: rgb(64,85,112);
    background: radial-gradient(circle, rgba(64,85,112,1) 0%, rgba(56,81,112,1) 100%);
    color: #ececec;
    background-size: cover;
    font-size: 60px;
    padding: 1px;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
    border-bottom: #000000 solid 3px;
    font-family: 'Archivo Black', sans-serif;
}

.headerTitleSpan {
    color: #9FD3C7;
}

.individual-comment {
    padding: 20px 16px 20px;
    border: solid #385170;
    border-radius: 10px;
    margin-bottom: 5px;
    
    
    
}

.like {
    margin-right: 10px;
    margin-left: 5px;
}

.myPost {
        position: fixed;
        min-width: 250px;
        top: 40%;
        right: 10px;
        border: 3px solid #385170;
        border-radius: 10px;
        padding: 5px;
        background: rgb(255, 243, 243);
        background: radial-gradient(circle, rgba(236,236,236,1) 0%, rgb(218, 216, 216) 53%);
        min-height: 300px;
}

.Nav {
    position: fixed;
    top: 40%;
    left: 10px;
    border: 3px solid #385170;
    border-radius: 10px;
    padding: 5px;
    background: rgb(255, 243, 243);
    background: radial-gradient(circle, rgba(236,236,236,1) 0%, rgb(218, 216, 216) 53%);
    min-height: 300px;
    min-width: 200px;
}

.navLink {
    text-decoration: none;
    color: #385170;
}

.passwordContainer{
    padding: 10px 16px 9px;
}

.registerButton {
    margin-top: 20px;
}

.reply {
    margin-left: 20px;
}


#root {
    text-align: center;
}

/* sign in page */
.signInPassword {
    padding: 7px 16px 9px;
    
}

.signInUsername {
    padding: 7px 16px 9px;

}

.signInButton {
    margin-top: 10px;
}

.usernameContainer{
    padding: 10px 16px 9px;
}


